<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="twitter:image" content="/images/sparklineIndexPage.png">
    <meta property="og:image" content="/images/logo.png">
    <meta property="twitter:title" content="Spark Conversations, Share your world.">
    <meta property="og:title" content="Spark Conversations, Share your world.">
    <meta property="twitter:description"
        content="Welcome to Sparkline, a dynamic social media platform designed to revolutionize the way people connect, share, and engage online.">
    <meta property="description"
        content="Welcome to Sparkline, a dynamic social media platform designed to revolutionize the way people connect, share, and engage online." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/partials/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>SparkLine</title>
</head>

<body>
    <%- include("partials/navbar",{loggedInUser}) %>
        <!-- Insert element for flash -->
        <% if(message.length){ %>
            <%- include("partials/alert",{message,status}) %>
                <% } %>
                    <div class="mx-16 flex flex-col items-end main-container">
                        <h1 class="hidden">SparkLine</h1>
                        <p class="main-headline">Spark conversations, share your world.</p>
                        <p class="main-para">Connect with friends, follow your interests, and join the <br>
                            conversation
                            on
                            SparkLine.
                        </p>
                        <div class="mt-5">
                            <a href="/signin" class="main-login-btn">SIGN IN</a>
                            <a href="/user/create" class="main-create-btn">CREATE ACCOUNT</a>
                        </div>
                    </div>
</body>

</html>