@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    /* position: relative; */
    /* background-image: url("/images/antonino-visalli-RNiBLy7aHck-unsplash.jpg"); */
    /* background-size: cover; */
}

body>* {
    position: relative;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("/images/antonino-visalli-RNiBLy7aHck-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

@media screen and (max-width:640px) {
    .main-container {
        margin-inline: 0.75rem !important;
        margin-block: 1rem !important;
        align-items: center !important;
        justify-content: center !important;
        height: 70vh;
        word-wrap: break-word;
    }

    .main-headline {
        font-size: clamp(2.6rem, 5vw, 10rem) !important;
        text-align: center !important;
    }

    .main-para {
        font-size: clamp(1rem, 5vw, 1.25rem) !important;
        text-align: center !important;

    }

    .main-login-btn {
        padding: 0.6rem 1.25rem !important;
        font-size: 0.90rem !important;

        margin-right: 0.5rem !important;
    }


    .main-create-btn {
        padding: 0.65rem 1.25rem !important;
        font-size: 0.75rem !important;
    }

}

@media screen and (min-width:640px) and (max-width:768px) {
    .main-container {
        margin-inline: 1rem !important;
        margin-block: 1rem !important;
        align-items: center !important;
        justify-content: center !important;
        height: 70vh;
        word-wrap: break-word;
    }

    .main-headline {
        font-size: 4rem !important;
        text-align: center !important;
    }

    .main-para {
        font-size: 1.35rem !important;
        text-align: center !important;

    }

    .main-login-btn {
        padding: 0.6rem 1.25rem !important;
        font-size: 0.95rem !important;

        margin-right: 0.5rem !important;
    }


    .main-create-btn {
        padding: 0.65rem 1.25rem !important;
        font-size: 0.80rem !important;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .main-container {
        margin-inline: 1rem !important;
        margin-block: 1rem !important;
        align-items: center !important;
        justify-content: center !important;
        height: 75vh;
        word-wrap: break-word;
    }

    .main-headline {
        font-size: 4.5rem !important;
        text-align: center !important;
    }

    .main-para {
        font-size: 1.55rem !important;
        text-align: center !important;

    }

    .main-login-btn {
        padding: 0.7rem 1.35rem !important;
        font-size: 1rem !important;

        margin-right: 0.5rem !important;
    }


    .main-create-btn {
        padding: 0.7rem 1.3rem !important;
        font-size: 0.85rem !important;
    }
}

.main-container {
    margin-top: 5rem;
}


.main-headline {
    font-family: "Codystar", sans-serif;
    font-size: 5.5rem;
    text-align: right;
}

.main-para {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.75rem;
    text-align: right;
}

.main-login-btn {
    background-color: #d34a52;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 2rem;

    margin-right: 2rem;
}

.main-login-btn:hover {
    background-color: #d1575f;
}

.main-create-btn {
    background-color: transparent;
    color: #d34a52;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 2rem;
    border: 1px solid #d34a52;
}

.main-create-btn:hover {
    background-color: #d1575f;
    color: white;
}