@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap");

@media screen and (max-width:640px) {
    header>nav {
        display: flex !important;
        flex-direction: column;
        padding-bottom: 0 !important;
    }

    .nav-logo-img {
        height: 2.25rem !important;
    }

    .nav-logo-text {
        font-size: 2rem !important;
        margin-bottom: 0.5rem !important;
    }

    .nav-login-btn {

        padding: 0.25rem 0.5rem !important;
        font-size: 0.85rem !important;
    }

}


@media screen and (max-width:768px) {

    .nav-logo-img {
        height: 2.25rem !important;
    }

    .nav-logo-text {
        font-size: 2rem !important;
        margin-bottom: 0.55rem !important;

    }

    .nav-login-btn {

        padding: 0.30rem 0.6rem !important;
        font-size: 0.90rem !important;
    }
}

.nav-logo-img {
    height: 2.75rem;
    width: auto;
}

.nav-logo-text {
    font-family: "Beau Rivage", cursive;
    font-size: 2.5rem;
}

.nav-account {
    font-size: 1rem;
    font-family: "Chakra Petch", sans-serif;
    color: rgb(65, 65, 65);
}

.nav-login-btn {
    background-color: #d34a52;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 1.5rem;
}

.nav-login-btn:hover {
    background-color: #d1575f;
}